<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p th:if="${param.error}" th:text="${param.error}" style="color: red"></p>
    <form th:action="@{/transfer}" method="post" th:object="${transferForm}">
        <table>
            <tr>
                <td>From: </td>
                <td><input type="text" th:field="*{fromUser}" placeholder="From User"></td>
            </tr>
            <tr>
                <td>To: </td>
                <td><input type="text" th:field="*{toUser}" placeholder="To User"></td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td><input type="number" th:field="*{amount}" placeholder="Amount"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Transfer">
                </td>
            </tr>
        </table>
    </form>

    <table>
        <tr>
            <td>User</td>
            <td>Balance</td>
        </tr>
        <tr th:each="bankAccount : ${bankAccounts}">
            <td th:text="${bankAccount.userName}"></td>
            <td th:text="${bankAccount.balance}"></td>
        </tr>
    </table>

</body>
</html>